{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["@tsrx/prettier-plugin", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^(?!.*(?:\\.style\\.ts|\\.styles\\.ts|\\.(?:css|scss|sass|less|pcss|styl))(?:\\?.*)?$)(?:@[A-Za-z0-9._-]+(?:/[A-Za-z0-9._-]+)+|[A-Za-z0-9][A-Za-z0-9._-]*(?:/[A-Za-z0-9._-]+)*)$",
    "",
    "^(?!.*(?:\\.style\\.ts|\\.styles\\.ts|\\.(?:css|scss|sass|less|pcss|styl))(?:\\?.*)?$)(?:~/|@/).+$",
    "^(?!.*(?:\\.style\\.ts|\\.styles\\.ts|\\.(?:css|scss|sass|less|pcss|styl))(?:\\?.*)?$)#.+$",
    "^(?!.*(?:\\.style\\.ts|\\.styles\\.ts|\\.(?:css|scss|sass|less|pcss|styl))(?:\\?.*)?$)\\.\\.(?:/.*)?$",
    "^(?!.*(?:\\.style\\.ts|\\.styles\\.ts|\\.(?:css|scss|sass|less|pcss|styl))(?:\\?.*)?$)\\.(?:/.*)?$",
    "(?:\\.style\\.ts|\\.styles\\.ts|\\.(?:css|scss|sass|less|pcss|styl))(?:\\?.*)?$",
    "<THIRD_PARTY_MODULES>"
  ],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderTypeScriptVersion": "5.9.3",
  "importOrderCaseSensitive": false
}
