{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": [
    "@prettier/plugin-oxc",
    "@tsrx/prettier-plugin",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "oxc-ts"
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.mjs", "*.cjs"],
      "options": {
        "parser": "oxc"
      }
    }
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(?!.*(?:\\.style\\.ts|\\.css)(?:\\?.*)?$)~/.+$",
    "^(?!.*(?:\\.style\\.ts|\\.css)(?:\\?.*)?$)\\.\\.(?:/.*)?$",
    "^(?!.*(?:\\.style\\.ts|\\.css)(?:\\?.*)?$)\\.(?:/.*)?$",
    "(?:\\.style\\.ts|\\.css)(?:\\?.*)?$"
  ],
  "importOrderTypeScriptVersion": "5.9.3"
}
